@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes popUp {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: hsl(257deg 27% 36% / 0.6);
  animation: fadeIn 200ms ease-in;
}

.navbar {
  background-color: var(--clr-bg);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 140px;
  animation: slideIn 300ms ease-in;
}

.navbar a {
  color: var(--clr-secondary);
  font-family: var(--ff-secondary);
  font-size: 2rem;
  font-weight: var(--fw-regular);
  text-align: center;
  padding: 1.33rem;
}

.navbar a:hover {
  color: var(--clr-primary);
  background-color: var(--clr-white);
}

.navbar a.active {
  color: var(--clr-accent);
  background-color: var(--clr-white);
}

.btn {
  text-align: center;
  font: inherit;
  color: var(--clr-primary);
  background: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 1000;
}
.open:hover {
  animation: popUp 300ms ease;
}

@media (prefers-reduced-motion: no-preference) {
  .close:hover {
    animation: spinning 300ms ease;
  }
}

.btn:focus {
  outline-offset: 2px;
}

.btn:focus:not(:focus-visible) {
  outline: none;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}