.link {
  display: block;
  max-width: var(--max-w);
  border-radius: 10px;
  transition: background 100ms ease-in;
}

.link:hover {
  background-color: var(--clr-white);
}

.link:hover svg {
  transform: translate(6px, 2px);
}

.card {
  padding: 32px;
  display: flex;
  align-items: flex-start;
}

.body {
  flex: 1;
}

.date {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-secondary);
}

.title {
  font-size: 2rem;
  font-weight: var(--fw-semiBold);
  margin-top: 12px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 1.75rem;
  }

  .excerpt {
    font-size: 1.125rem;
  }
}

.excerpt {
  font-size: 1.2rem;
  font-weight: var(--fw-regular);
  color: var(--clr-secondary);
  margin-top: 20px;
}

.more {
  margin-top: 28px;
}

.more svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 6px;
  transform: translateY(2px);
  transition: transform 300ms ease-in;
}

.img {
  display: block;
  max-width: 500px;
  width: 100%;
  margin-top: 2em;
  /* Fallback for the card's gap */
  margin-left: 72px;
}

@supports (display: flex; gap: 72px) {
  .card {
    gap: 72px;
  }

  .img {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .img {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    justify-content: flex-end;
  }

  .img {
    width: 100%;
    max-width: 100%;
    order: -1;
    margin-top: 0;
    /* Fallback for the card's gap */
    margin-bottom: 36px;
  }

  @supports (display: flex; gap: 36px) {
    .card {
      gap: 36px;
    }

    .img {
      margin-bottom: 0;
    }
  }
}