---
import Layout from "@layouts/PageLayout.astro";

const title = "404";
---
<Layout title={title}>
  <main>
    <h2>{title}</h2>
    <article class="flow">
      <p>Page not found.</p>
      <p><a href="/">Back to home page</a>.</p>
    </article>
  </main>
</Layout>