---
import Layout from "@layouts/PageLayout.astro";

const content = {
  title: "404"
};
---
<Layout content={content}>
  <main>
    <h2>{content.title}</h2>
    <article class="flow">
      <p>Page not found.</p>
      <p><a href="/">Back to home page</a>.</p>
    </article>
  </main>
</Layout>