---
import Layout from '@layouts/MainLayout.astro';
---

<Layout title="Portfolio | Welcome to Notebook.">
	<main>
    <h2>Portfolio</h2>
  </main>
</Layout>

<style>
	main {
		max-width: var(--max-w);
		padding: 64px 0;
		margin: 0 auto;
	}

	h2 {
		font-family: var(--ff-secondary);
		font-size: 2rem;
		font-weight: var(--fw-bold);
		text-align: center;
	}
</style>