---
import Menu from "@components/Menu/index.ts";
---

<header>
  <a href="/" class="logo">
    <img src="/assets/logo-main.png" alt="">
  </a>
  <p>Notebook of Screenwriting</p>
  <Menu client:load />
</header>

<style>
  header {
    text-align: center;
    padding: 48px;
    background-color: var(--clr-white);
  }

  img {
    display: inline-block;
  }

  p {
    font-size: 2rem;
    font-family: var(--ff-heading);
    color: var(--clr-secondary);
    margin-top: 1em;
  }
</style>