---
import Navbar from "@components/Navbar.astro";
---

<header>
  <a href="/" class="logo">
    <img src="/assets/logo-accent.png" alt="">
    <span>Zhou Zhou</span>
  </a>
  <Navbar />
</header>

<style>
  header {
    background-color: var(--clr-white);
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .logo {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  img {
    display: inline-block;
  }

  span {
    font-size: 2rem;
    font-family: var(--ff-logo);
    color: var(--clr-secondary);
  }
</style>