---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<nav>
  <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
  <a class={currentPath === "portfolio" ? "active" : ""} href="/portfolio">Portfolio</a>
  <a class={currentPath === "posts" ? "active" : ""} href="/posts">Articles</a>
  <a class={currentPath === "about" ? "active" : ""} href="/about">About Me</a>
  <a  class={currentPath === "contact" ? "special active" : "special"} href="/contact">Contact Me</a>
</nav>

<button class="btn open">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
  </svg>
  <span class="visually-hidden">Open Menu</span>
</button>

<button class="btn close" style="display: none;">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
  </svg>
  <span class="visually-hidden">Close</span>
</button>

<script>
  const nav = document.querySelector("nav");
  const openBtn = document.querySelector(".open");
  const closeBtn = document.querySelector(".close");

  openBtn.addEventListener("click", function() {
    this.style.display = "none";
    nav.classList.add("show");
    closeBtn.style.display = "block";
  });

  closeBtn.addEventListener("click", function() {
    this.style.display = "none";
    nav.classList.remove("show");
    openBtn.style.display = "block";
  });
</script>

<style>
  nav {
    font-size: 1.33rem;
    font-family: var(--ff-secondary);
    display: flex;
    gap: 2rem;
  }

  nav a {
    font-weight: var(--fw-regular);
    position: relative;
  }

  nav a.special {
    color: var(--clr-accent);
  }

  nav a.active {
    color: var(--clr-primary);
  }

  nav a::after {
    content: "";
    background-color: currentColor;
    height: 1px;
    opacity: 0;
    transform: translateY(10px);
    transition: height 300ms, opacity 300ms, transform 300ms;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  nav a:hover::after, nav a.active::after {
    height: 3px;
    opacity: 1;
    transform: translateY(0px);
  }

  nav a.active:hover::after {
    height: 1px;
    opacity: 0;
    transform: translateY(10px);
  }

  .btn {
    text-align: center;
    font: inherit;
    color: var(--clr-primary);
    background: transparent;
    border: none;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 1000;
  }

  .btn:focus {
    outline-offset: 2px;
  }

  .btn:active {
    background-color: var(--clr-primary);
    color: var(--clr-white);
  }

  .btn:focus:not(:focus-visible) {
    outline: none;
  }

  .open:hover {
    animation: popUp 300ms ease;
  }

  @media (prefers-reduced-motion: no-preference) {
    .close:hover {
      animation: spinning 300ms ease;
    }
  }

  .visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  @keyframes spinning {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes popUp {
    0% {
      transform: scale(1);
    }
    90% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @media (max-width: 1200px) {
    nav {
      font-size: 1rem;
      font-weight: var(--fw-bold);
    }
  }

  @media (max-width: 960px) {
    nav {
      font-size: 2rem;
      flex-direction: column;
      align-items: flex-end;
      transform: translateX(150%);
      height: 0;
      opacity: 0;
      transition: transform 500ms ease, height 300ms, opacity 300ms;
      overflow: hidden;
    }

    nav.show {
      transform: translateX(0);
      height: auto;
      opacity: 1;
    }

    .btn {
      display: block;
    }
  }
</style>