---
	import Layout from '@layouts/MainLayout.astro';
	import pageTitle from '@utils/pageTitle';

	const { content } = Astro.props;
	const { title } = content;
---

<Layout title={pageTitle(title)}>
	<main>
		<h2>{title}</h2>
		<article class="flow">
			<slot />
		</article>
	</main>
</Layout>

<style>
	main {
		max-width: 800px;
		padding: 64px 32px;
		margin: 0 auto;
	}

	h2 {
		font-family: var(--ff-secondary);
		font-size: 2rem;
		font-weight: var(--fw-bold);
		text-align: center;
		margin-bottom: 64px;
	}
</style>